* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*  font-size */
  --size-6: 0.6rem;
  --size-11: 1.1rem;
  --size-16: 1.6rem;
  --size-24: 2.4rem;
  --size-32: 3.2rem;
  --size-18: 1.8rem;
  --size-96: 9.6rem;
  --size-64: 6.4rem;
  --size-14: 1.4rem;
  --size-12: 1.2rem;
  --size-42: 4.2rem;
  --size-48: 4.8rem;
  --size-80: 8rem;
  --size-190: 19rem;
  --size-150: 15rem;
  --size-256: 25.6rem;
  --size-10: 10px;
  --size-128: 12.8rem;
  --size-175: 17.5rem;
  --size-240: 24rem;
  --size-350: 35rem;
  --size-400: 40rem;
  --size-500: 50rem;
  --size-512: 51.2rem;
}
/*   Gen  */
html {
  font-size: 10px;
}
body {
  font-family: "Raleway", sans-serif;
}
/*  header */
header {
  margin: 0 auto;
  width: 100%;
  height: 95vh;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-24) var(--size-32);
}
.logo {
  width: 60%;
}
.nav-btn {
  display: flex;
  gap: var(--size-24);
}
.heading-primary {
  color: hsl(243, 87%, 12%);
}
.heading-sub {
  color: #222;
}
.heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: var(--size-64);
  gap: var(--size-128);
  width: 100%;
}
.h-text-box {
  display: flex;
  flex-direction: column;
  gap: var(--size-32);
}
.back-img {
  width: 80%;
}
/*  section-1 */
.section-1 {
  background-image: url(images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: var(--size-96) var(--size-64);
}
.avatar-reg {
  display: flex;
  gap: var(--size-12);
  align-items: center;
}
.text-s-1-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-24);
}

.section-box-1 {
  display: flex;
  gap: var(--size-64);
  justify-content: center;
  align-items: center;
}
.img-s-1 {
  width: 60%;
}
.avatar {
  width: 7%;
  border-radius: 50%;
}
.reg-s-1 {
  display: flex;
  flex-direction: column;
  gap: var(--size-24);
  height: var(--size-240);
  background-color: #fff;
  width: var(--size-350);
  padding: var(--size-24);
  border-radius: var(--size-12);
  box-shadow: 0 var(--size-12) var(--size-24) rgba(0, 0, 0, 0.2);
}
/*  section-2 */
.section-2 {
  background-color: hsl(238, 22%, 44%);
  padding: var(--size-48);
  display: flex;
  justify-content: space-around;
}
.text-reg-s-2 {
  display: flex;
  flex-direction: column;
  gap: var(--size-32);
  width: 50%;
}

.email-box input {
  padding: var(--size-12) var(--size-64);
  font-size: var(--size-12);
  margin-bottom: var(--size-12);
  display: block;
}
.email-box button {
  padding: var(--size-11) var(--size-36);
  border-radius: 0;
  border: none;
}
a {
  text-decoration: none;
}
.box-4 {
  display: flex;
  gap: var(--size-16);
  height: var(--size-32);
}
/*  footer & gen */
.box-footer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  gap: var(--size-150);
}
.nav-btn a {
  color: #333;
}
#email {
  padding: 0 var(--size-80);
}
#email-box {
  display: flex;
  gap: var(--size-16);
}
#btn-email {
  font-size: var(--size-12);
  height: var(--size-48);
  width: var(--size-190);
  border: none;
  display: inline-block;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#btn-email:is(:hover, :active) {
  background-color: hsl(224, 100%, 70%);
  color: #fff;
}
.btn-s-1:is(:link, :visited) {
  color: hsl(170, 45%, 43%);
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
}
.btn-s-1-box {
  display: flex;
  gap: var(--size-6);
  position: relative;
}
.btn-s-1:is(:hover, :active) {
  color: hsl(170, 42%, 55%);
}
.btn-s-1-box a::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: hsl(170, 42%, 55%);
  position: absolute;
  top: 110%;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.btn-s-1-box:hover a::after {
  width: var(--size-150);
}
.btn-email {
  font-size: var(--size-12);
  height: var(--size-42);
  width: var(--size-190);
  border: none;
  display: inline-block;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn-email:is(:hover, :active) {
  background-color: hsl(224, 100%, 70%);
  color: #fff;
}
.section-2 {
  color: #fff;
}
.box-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer {
  color: #fff;
  background-color: hsl(243, 87%, 12%);
  padding: var(--size-96) var(--size-256) var(--size-96) 0;
  position: relative;
}
.f-f {
  display: flex;
  gap: var(--size-12);
  align-items: center;
}
.box-2 ul,
.box-3 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box-2 ul li a,
.box-3 ul li a {
  transition: all 0.3s ease-in-out;
}
.box-2 ul li a:is(:link, :visited),
.box-3 ul li a:is(:link, :visited) {
  color: #fff;
}
.box-2 ul li a:is(:hover, :active),
.box-3 ul li a:is(:hover, :active) {
  color: hsl(238, 22%, 44%);
}
.icon-s {
  transition: all 0.3s ease-in-out;
  fill: #fff;
}

.icon-s:hover {
  fill: hsl(224, 93%, 58%);
}
.logo-footer {
  height: var(--size-12);
  position: absolute;
  top: 16%;
  left: 7%;
}
