* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*  font-size */

  --size-2: 0.2rem;
  --size-6: 0.6rem;
  --size-8: 0.8rem;
  --size-11: 1.1rem;
  --size-16: 1.6rem;
  --size-22: 2.2rem;
  --size-24: 2.4rem;
  --size-32: 3.2rem;
  --size-36: 3.6rem;
  --size-18: 1.8rem;
  --size-96: 9.6rem;
  --size-64: 6.4rem;
  --size-14: 1.4rem;
  --size-12: 1.2rem;
  --size-42: 4.2rem;
  --size-48: 4.8rem;
  --size-80: 8rem;
  --size-190: 19rem;
  --size-150: 15rem;
  --size-152: 15.2rem;
  --size-256: 25.6rem;
  --size-10: 10px;
  --size-128: 12.8rem;
  --size-175: 17.5rem;
  --size-240: 24rem;
  --size-350: 35rem;
  --size-400: 40rem;
  --size-500: 50rem;
  --size-512: 51.2rem;
}
/*   Gen  */

body {
  font-family: "Raleway", sans-serif;
}
/*  header */
header {
  margin: 0 auto;
  width: 100%;
  height: 95vh;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 36px;
}
.logo {
  width: 60%;
}
.nav-btn {
  display: flex;
  gap: 24px;
}
.heading-primary {
  color: hsl(243, 87%, 12%);
}
.heading-sub {
  color: #222;
}
.heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 64px;
  gap: 128px;
  width: 100%;
}
.h-text-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.back-img {
  width: 80%;
}
/*  section-1 */
.section-1 {
  background-image: url(images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 96px 64px;
}
.avatar-reg {
  display: flex;
  gap: 12px;
  align-items: center;
}
.text-reg {
  font-size: 8px;
}
.text-s-1-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.img-box-s {
}
.section-box-1 {
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}
.img-s-1 {
  width: 60%;
}
.avatar {
  width: 7%;
  border-radius: 50%;
}
.reg-s-1 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 240px;
  background-color: #fff;
  width: 350px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
/*  section-2 */
.section-2 {
  background-color: hsl(238, 22%, 44%);
  padding: 48px;
  display: flex;
  justify-content: space-around;
}
.text-reg-s-2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
}

.email-box input {
  padding: 12px 64px;
  font-size: 12px;
  margin-bottom: 12px;
  display: block;
}
.email-box button {
  padding: 11px 36px;
  border-radius: 0px;
  border: none;
}
a {
  text-decoration: none;
}
.box-4 {
  display: flex;
  gap: 16px;
  height: 32px;
}
/*  footer & gen */
.box-footer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  gap: 150px;
}
.nav-btn a {
  color: #333;
}
#email {
  padding: 0 80px;
}
#email-box {
  display: flex;
  gap: 16px;
}
#btn-email {
  font-size: 12px;
  height: 48px;
  width: 190px;
  border: none;
  display: inline-block;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#btn-email:is(:hover, :active) {
  background-color: hsl(224, 100%, 70%);
  color: #fff;
}
.btn-s-1:is(:link, :visited) {
  color: hsl(170, 45%, 43%);
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
}
.btn-s-1-box {
  display: flex;
  gap: 6px;
  position: relative;
}
.btn-s-1:is(:hover, :active) {
  color: hsl(170, 42%, 55%);
}
.btn-s-1-box a::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: hsl(170, 42%, 55%);
  position: absolute;
  top: 110%;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.btn-s-1-box:hover a::after {
  width: 152px;
}
.btn-email {
  font-size: 12px;
  height: 42px;
  width: 190px;
  border: none;
  display: inline-block;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn-email:is(:hover, :active) {
  background-color: hsl(224, 100%, 70%);
  color: #fff;
}
.section-2 {
  color: #fff;
}
.box-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer {
  color: #fff;
  background-color: hsl(243, 87%, 12%);
  padding: 96px 256px 96px 0;
  position: relative;
}
.f-f {
  display: flex;
  gap: 12px;
  align-items: center;
}
.box-2 ul,
.box-3 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box-2 ul li a,
.box-3 ul li a {
  transition: all 0.3s ease-in-out;
}
.box-2 ul li a:is(:link, :visited),
.box-3 ul li a:is(:link, :visited) {
  color: #fff;
}
.box-2 ul li a:is(:hover, :active),
.box-3 ul li a:is(:hover, :active) {
  color: hsl(238, 22%, 44%);
}
.icon-s {
  transition: all 0.3s ease-in-out;
  fill: #fff;
}

.icon-s:hover {
  fill: hsl(224, 93%, 58%);
}
.logo-footer {
  height: 32px;
  position: absolute;
  top: 16%;
  left: 7%;
}
